<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UPLOADS</title>
  </head>
  <style>
    .selector {
      display: flex;
    }
    .seletor-directory,
    .seletor-files {
      flex: 1;
    }
    .title {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .picker {
      display: block;
    }
    .button-upload {
      display: block;
    }
  </style>
  <body>
    <div class="selector">
      <div class="seletor-directory">
        <div class="title">directory seletor</div>
        <form action="multi" enctype="multipart/form-data" method="POST">
          <input class="button-upload" type="submit" value="UPLOAD" />
          <input class="picker" webkitdirectory directory multiple type="file" name="formFiledNameMulti" multiple />
        </form>
        <ul class="upload-list"></ul>
      </div>

      <div class="seletor-files">
        <div class="title">files seletor</div>
        <form action="multi" enctype="multipart/form-data" method="POST">
          <input class="button-upload" type="submit" value="UPLOAD" />
          <input class="picker" multiple type="file" name="formFiledNameMulti" multiple />
        </form>
        <ul class="upload-list"></ul>
      </div>
    </div>

    <script src="js/uploader.js"></script>
    <script>
      seletorDirectoryEl = document.querySelector('.seletor-directory');
      formDirectoryEl = seletorDirectoryEl.querySelector('form');
      pickerDirectoryEl = seletorDirectoryEl.querySelector('.picker');

      formDirectoryEl.addEventListener('submit', uploadFile);
      pickerDirectoryEl.addEventListener('change', changeFile, false);

      seletorFilesEl = document.querySelector('.seletor-files');
      formFilesEl = seletorFilesEl.querySelector('form');
      pickerFilesEl = seletorFilesEl.querySelector('.picker');

      formFilesEl.addEventListener('submit', uploadFile);
      pickerFilesEl.addEventListener('change', changeFile, false);

      function onProgress(loaded, total) {
        // filed.querySelector(`li[data-file-name]=${filename}`);
        console.warn(loaded, total);
      }

      let uploader;

      async function uploadFile(event) {
        event.preventDefault();
        let files = this.querySelector('.picker').files;
        if (!files) return;

        for (var idx = 0; idx < files.length; idx += 1) {
          const file = files[idx];
          uploader = new Uploader({file, onProgress});
          try {
            let uploaded = await uploader.upload();
            if (uploaded) {
              console.log(file.name, 'success');
            } else {
              console.log(file.name, 'stopped');
            }
          } catch (err) {
            console.log(file.name, 'error');
            console.error(err);
          }
        }
      }

      function changeFile(event) {
        console.error(event);
        const seletorEl = this.parentNode.parentNode;
        let output = seletorEl.querySelector('.upload-list');
        let files = event.target.files;

        for (let i = 0; i < files.length; i++) {
          let item = document.createElement('li');
          const fileName = files[i].name;
          item.dataset['fileName'] = fileName.replace(/\.[^/.]+$/, '');
          item.innerHTML = fileName;
          output.appendChild(item);
        }
      }
    </script>
  </body>
</html>
