/*For Plugin*/
.dragHover {
	border-color: #444;
	border-style: 1px solid;
	box-shadow: inset 0 0 2px 2px #888;
	background: #efefef;
}

.alert { 
	padding: 10px;
	margin-bottom: 15px;
	display: none
}

.ptext {
	font-style: italic;
	margin: auto 5px;
}

.progress {
	position: relative;
	margin-top: 5px;
	margin-bottom: 0;
}

.finfo {
	position: absolute;
	width: 100%;
	text-align: center;
}

.finfo a {
	color: #efefef;
	text-decoration: underline;
}

.hidden {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

/*For Demo Page*/
body {
	position: relative;
	padding-top: 50px;
}

.ju-docs-nav {
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background-color: #0072c6;
	border-color: #005491;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.navbar-collapse {
	border-color: #005491;
}

.ju-docs-nav .navbar-brand {
	color: #fff;
}

.ju-docs-nav .navbar-nav > li > a {
	color: #b9d4e8;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #005491;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #cb3900;
}

.ju-docs-nav .navbar-nav > .active > a, .ju-docs-nav .navbar-nav > .active > a:hover {
	color: #fff;
	background-color: #cb3900;
}

.bs-header {
  padding: 30px 15px 40px;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
	color: #b9d4e8;
	background-color: #0072c6;
}
.bs-header h1 {
  color: #fff;
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  .bs-header {
    font-size: 21px;
    text-align: left;
  }
  .bs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .bs-header h1,
  .bs-header p {
    margin-right: 200px;
  }
}

.ju-shameless-slef-promotion {
	padding: 15px 20px;
	color: #777;
	background-color: #fafafa;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e5e5e5;
}

.ju-example {
	max-height: 500px;
	border: 1px dotted #005491;
	border-radius: 4px;
	padding: 10px;
	margin: 0 0 10px;
	overflow: auto;
}

#messages3 {
	height: 300px;
	border: 1px dotted #00b6c6;
	border-radius: 4px;
	padding: 10px;
	margin: 0 0 10px;
	overflow: auto;
}

.btn-custom2 {
	background-color: #ef4300;
	border-color: #da3d00;
}

.btn-custom2:hover, .btn-custom2:focus, .btn-custom2:active {
	background-color: #da3d00;
	border-color: #cb3900;
}

.btn-custom3 {
	background-color: #0072c6;
	border-color: #005491;
}

.btn-custom3:hover, .btn-custom3:focus, .btn-custom3:active {
	background-color: #005491;
	border-color: #003f6c;
}

.mfi-msg-s1 {
	height: 500px;
	border: 1px dotted #00b6c6;
	border-radius: 4px;
	padding: 10px;
	margin: 0 0 10px;
	overflow: auto;
}

.mfi-msg-s2 {
	height: 160px;
	border: 1px dotted #ef4300;
	border-radius: 4px;
	padding: 10px;
	margin: 0 0 10px;
	overflow: auto;
}

.mfi-msg-s3 {
	height: 253px;
	border: 1px dotted #0072c6;
	border-radius: 4px;
	padding: 10px;
	margin: 0 0 10px;
	overflow: auto;
}

#m-ju-fu-files, #m-ju-fu-folder {
	height: 300px;
	border: 1px dotted #00b6c6;
	border-radius: 4px;
	padding: 10px;
	margin: 0 0 10px;
	overflow: auto;
}

.footer {
	margin-top: 20px;
	padding: 30px 0;
	position: relative;
	background-color: #0072c6;
	border-top: 1px solid #005491;
	color: #b9d4e8;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.footer a {
	color: #fff;
}