<!DOCTYPE html>
<html>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label>Avatar</label>
    <input type="file" name="avatar" multiple />
    <button type="submit">Upload</button>
  </form>
</html>
